@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
    position: relative;
    min-height: 100vh;
    width: 1160px;
    padding-bottom: 294px;
}

header {
    font-weight: 400;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
}

.header-logo-wrapper {
    margin-right: 20px;
    /* для корректного отображении при увеличении масштаба */
}

nav {
    display: flex;
    gap: 45px;
    white-space: nowrap
}

.header-button {
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    color: rgba(96, 121, 209, 1);

    background: rgba(236, 241, 255, 1);
    border: none;
    border-radius: 10px;
    padding: 18px 27px 18px 27px;
    margin-left: 20px;
    /* для корректного отображении при увеличении масштаба */

    cursor: pointer;
}

.header-devider {
    background-color: rgba(237, 237, 237, 1);
    height: 1px;
    width: 100vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ________________________________________________________________________________________________________________________________________________ */

.previews-container {
    margin-top: 41px;
}

.preview-block-container {
    display: flex;
    background: #F3F4F7;
    height: 600px;
    justify-content: space-between;
    padding: 87px 39px 0 79px;
    border-radius: 30px;
    margin-bottom: 160px;
}

.third-block-preview-container {
    padding: 68px 39px 0 79px;
}

.preview-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    margin-bottom: 96px;
}

h2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 53px;
    margin: 0;
}

.head-span {
    font-weight: 800;
    font-size: 64px;
    line-height: 50px;
    color: #FF6060;
}

.preview-head-second {
    position: absolute;
    width: 1000px;
}

.preview-head-second-wrapper {
    height: 160px;
}

.advantage-span {
    color: #6079D1;
}

.preview-advantages {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preview-advantage {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #515050;

    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
}

.preview-advantage::before {
    content: url("./assets/check.svg");
    margin-right: 18px;
}

.preview-img-container {
    position: relative;
}

.first-image-container {
    width: 44%;
}

.second-image-container {
    width: 480px;
}

.preview-image-background {
    position: absolute;
    z-index: 0;
    left: -65px;
    bottom: -40px;
}

.thrid-background {
    left: -10px;
}

.preview-image {
    position: relative;
    z-index: 1;
}

.second-preview-image {
    margin-right: 60px;
    margin-top: 14px;
}

.third-preview-image {
    margin: 0 80px 30px 0;
}

.preview-button {
    padding: 22px 41px;
    width: fit-content;
    min-width: 274px;

    background-color: #FF6060;
    border-radius: 10px;
    border: none;
    color: #FFFF;

    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.glide__arrows {
    position: absolute;
    top: 40%;
    right: -115px;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 120%;
}

.glide__arrow {
    width: 94px;
    height: 55px;
    border: none;
    background-color: #F3F4F7;
    border-radius: 30px;
}

.arrow-left {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

/* ________________________________________________________________________________________________________________________________________________ */

.advantages-container {
    height: 872px;
    margin-bottom: 160px;
}

.table-structured-block-title {
    margin: 0;
    margin-bottom: 32px;

    font-family: Rubik;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    color: rgba(81, 80, 80, 1);
}

.advantages-table-structured-block-container {
    height: 798px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.table-row {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 236px;
}

.table-cell {
    background-color: #F3F4F7;
    border-radius: 20px;
    height: 100%;
}

.advantages-cell-first {
    width: 40%;
    background-color: #6079D1;
    padding: 47px 180px 47px 40px;
    color: #FFFFFF;


    font-weight: 300;
    font-size: 28px;
}

.first-cell-paragraph {
    font-weight: 600;
    font-size: 64px;
    margin: 0;
    text-shadow: 0 4px 4px #00000040;
}

.advantages-cell-second {
    position: relative;
    flex: 1;
    padding: 12px;
    display: flex;
    align-items: flex-end;
}

.head-paragraph {

    font-weight: 500;
    font-size: 28px;
    margin: 0 0 25px 20px;

    color: #515050;
}

.content-paragraph {
    font-weight: 300;
    font-size: 18px;
    color: #717171;
}

.second-cell-image {
    position: relative;
    z-index: 1;
}

.second-cell-image-first {
    position: absolute;
    left: 77%;
    bottom: 26%;
    z-index: 2;
}

.second-cell-image-second {
    position: absolute;
    left: 60%;
    bottom: 70%;
    z-index: 0;
}

.advantages-cell-third {
    flex: 1;
    display: flex;
}

.second-cell-paragraphs-container {
    width: 50%;
    margin: 47px 0 71px 31px;
}

.head-third-cell-paragraph {
    font-weight: 500;
    font-size: 28px;
    margin: 0;

    color: #515050;
}

.advantages-cell-fourth {
    width: 40%;
    background-color: #FF6060;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 42px 20px 36px;
}

.fourth-cell-paragraph {
    font-weight: 300;
    font-size: 28px;
    width: 217px;
    margin: 0;
    margin-bottom: 20px;
}

.fourth-cell-image {
    font-weight: 400;
    font-size: 120px;
    margin: 0;
    text-shadow: 0 4px 4px #00000040;
}

.advantages-cell-fifth {
    width: 40%;
    padding: 61px 67px 39px 31px;
    height: 260px;
    position: relative;
}

.head-fifth-cell-paragraph {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    color: #515050;
}

.fifth-cell-image {
    position: absolute;
    bottom: 197px;
    right: 30px;
}

.advantages-cell-sixth {
    flex: 1;
    height: 260px;
    padding: 30px 174px 39px 35px;
    position: relative;
}

.sixth-cell-head {
    width: 318px;
}

.sixth-cell-image {
    position: absolute;
    bottom: 75px;
    right: -5px;
}

/* ________________________________________________________________________________________________________________________________________________ */

.usefulness-container {
    margin-bottom: 160px;
}

.usefulness-table-structured-block-container {
    height: 502px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.usefulness-cell-first {
    flex: 1;
    width: 40%;
    background-color: #6079D1;
    display: flex;
    padding: 30px 0 28px 30px;
}

.usefulness-first-cell-head {
    color: #FFFFFF;
    width: 325px;

    font-weight: 500;
    font-size: 24px;
}

.usefulness-cell-first-image {
    height: 175px;
}

.usefulness-cell-second {
    width: 40%;
    padding: 30px 26px 0 30px;
}

.usefulness-second-cell-head {
    font-size: 24px;
}

.usefulness-cell-third {
    width: 40%;
    display: flex;
    padding: 26px 25px 38px 29px;
    justify-content: space-between;
}

.usefulness-third-cell-head {
    font-size: 24px;
    width: 237px;
    margin-top: 10px;
}

.usefulness-cell-fourth {
    flex: 1;
    padding: 30px 25px 82px 29px;
}

.usefulness-cell-fifth {
    width: 32%;
    background-color: #FF6060;
    padding: 30px 42px 144px 29px;
}

/* ________________________________________________________________________________________________________________________________________________ */

.trial-lesson-container {
    width: 100%;
    height: 373px;
    background-color: #F3F4F7;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 160px;
}

.trial-lesson-content {
    margin: 68px 0 67px 69px;
    width: 487px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trial-lesson-head {
    font-weight: 600;
    font-size: 38px;
    margin: 0;
    color: #515050;
}

.trial-lesson-span {
    color: #FF6060;
}

.trial-lesson-paragraph {
    font-weight: 300;
    font-size: 22px;
    color: #515050;
}

.trial-lesson-image {
    height: 346px;
    margin-left: 55px;
}

/* ________________________________________________________________________________________________________________________________________________ */

.lesson-example-paragraph {
    font-weight: 300;
    font-size: 38px;
    margin-top: 0;
}

.lesson-example-container {
    margin-bottom: 160px;
}

/* ________________________________________________________________________________________________________________________________________________ */

footer {
    background-color: #272727;
    height: 294px;
    width: 100vw;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    display: flex;
    justify-content: center;
}

.footer-span {
    margin-bottom: 10px;
}

.footer-container {
    width: 1160px;
    display: flex;
    flex-direction: column;
    color: #515050;
}

.footer-top-container {
    display: flex;
    height: 58%;
    align-items: center;
}

.footer-logo {
    font-weight: 600;
    font-size: 18px;
}

.footer-logo-wrapper {
    width: 45%;
}

.footer-social-container {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.footer-number {
    font-family: Rubik;
    font-weight: 500;
    font-size: 26px;
    color: #F3F4F7;
    margin: 0;
}

.footer-social-media-icons {
    display: flex;
    gap: 12px;
}

.footer-icon-wrapper {
    display: flex;
    background-color: #343435;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.footer-social-media-icon {
    height: 22px;
}

.footer-devider {
    height: 1px;
    width: 100%;
    background-color: rgba(109, 109, 109, .1);
    ;
}

.footer-bottom-container {
    display: flex;
    height: 58%;
    width: 100%;
    padding-top: 16px;
    justify-content: space-between;
}